header {
  background-image: linear-gradient(135deg, #723362, #9d223c);
  background-color: #9d223c;
  color: #fff;
  padding: 0.5em 0;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  letter-spacing: 0.4em;
  text-decoration: none;
}
a{
    text-decoration: none;
    margin-right: 50px; 
}
header a{
    color: #fff;
}

main {
    height: calc(100vh - 30px);
  }

footer {
    text-align: center;
    background-color: rgb(143, 163, 175);
    width: 100%;
    height: 21px;
  }

