img {
    width: 256px;
    margin-left: -10px;
  }
  .user_card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 10px 0 10px;
  }
  
  .user_avatar {
    grid-area: 1 / 4 / 4 / 6;
  }
  .div2 {
    grid-area: 1 / 1 / 2 / 4;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 4;
  }
  .div4 {
    grid-area: 3 / 1 / 4 / 4;
  }
  .div5 {
    grid-area: 4 / 1 / 5 / 4;
  }
  .div6 {
    grid-area: 5 / 1 / 6 / 4;
  }
  .div7 {
    grid-area: 6 / 1 / 7 / 4;
  }
  .div8 {
    grid-area: 6 / 5 / 7 / 6;
  }
  